{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="name">Name:</label>
        {{ form_widget(form.name,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Task name'
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        {{ form_widget(form.address,{
            'attr':{
                'class':'form-control',
                'placeholder': 'address'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="bookid">Book ID:</label>
        {{ form_widget(form.bookid,{
            'attr':{
                'class':'form-control',
                'placeholder': 'bookid'
            }
        }) }}
    </div>
    <input type="submit" name="create_book" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
