<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/starter-template/">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <style>
    body{
        background-image: url("./images/1.jpg");
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        background-color:white;
    }
    #navbar li a{
        background-color:white;
        height:70px;
        width:130px;
        text-align:center;
        
    }
    
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <h2 style='color:#E8D5C4' >Book Manage</h2>
                <li class="active"><a href="{{ path('book_list') }}">Book List</a></li>
                <li><a href="{{ path('book_create') }}">Add Book</a></li>
                <li><a href="{{ path('author_list') }}">Author</a></li> 
                <li><a href="{{path('author_create')}}">Add Author</a></li>
                <li class="active"><a href="{{ path('category_list') }}">Category List</a></li>
                <li><a href="{{ path('category_create') }}">Add Category</a></li>
               
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">{{ flash_message }}</div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">{{ flash_message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</div><!-- /.container -->



{% block javascripts %}{% endblock %}

</body>
</html>

